<template>
  <MainLayout color_dependence1="true">
    <div class="container_a">
      <div class="first_cont_a" ref="nana_a" :style="{height:clientHeight}">
        <div class="h_content_a" ref="haha_a" :style="{height:clientHeight}"></div>
        <div class="title_cont_a" style="font-weight:600"><p>「 重现化学 」——「 美丽化学 」后续之作</p></div>
      </div>
      <div class="second_cont_a">
      <div class="paragraph">
        <div class="content_a">
        <p class="p1">关于我们</p>
        <p class="p2">
          <a href="http://www.envisioningchemistry.cn/" target="_blank" style="color: #999;text-decoration: none;border-bottom: 1px solid #999; ">“重现化学”</a>是<a href="http://www.beautyofscience.cn/" target="_blank" style="color: #999;text-decoration: none;border-bottom: 1px solid #999; ">美丽科学</a>
          与<a href="http://www.chemsoc.org.cn/" target="_blank" style="color: #999;text-decoration: none;border-bottom: 1px solid #999; ">中国化学会</a>的合作项目，它是<a href="http://www.beautifulchemistry.net/" target="_blank" style="color: #999;text-decoration: none;border-bottom: 1px solid #999; ">“美丽化学”</a>项目的续集。三年前，“美丽化学”让数百万人发现了化学的独特之美。在此基础上，我们希望“重现化学”能够实现两个目标：
          <br><br>
          1.制作更多更精良的影片，颠覆大众对于化学的印象<br>
          为了实现这一目标，我们从两方面进行了努力。一是采用艺术化的手段，我们将化学反应作为创作的基本要素，结合音乐和剪辑，在影片制作过程中尝试新的可能。二是我们采用了先进的摄影技术，包括显微摄影、红外热成像摄影、高速摄影以及4K超高清摄影，以前所未有的方式揭示化学反应的美丽。
          <br><br>
          2.提高学生对化学的兴趣，帮助教师高效进行化学教学<br>
          我们希望“重现化学”的影片能够提高学生对化学的兴趣，但这还远远不够。为了解决如何在课堂上有效的演示化学反应实验的问题，美丽科学的“仟问学堂”团队开发了一套化学教学视频资源，涵盖了高中化学课程中大部分的化学反应。这套视频资源真实的记录了化学反应细节和规范操作。不论学生坐在教室的哪个角落，都可以通过观看视频得到属于自己的发现与收获。
          <br><br>
          “重现化学”项目目前包含15部精美影片，更多影片在制作和计划中，我们会对这个项目进行持续的更新。</p>
        </div>
      </div>
        <div class="paragraph">
          <div class="content_a">
            <p class="p1">创作寄语</p>
            <p class="p2">
              重现化学并非为美而生，就像万物并非为美而生一样。生活中的确不容易见到重现化学里的这些情景，但不可否认它们也是世间朴素而又真实的存在，它是藏匿于真实世界的王国，有其独特的姿态与存在方式，需要我们的发现，也需要我们的欣赏。
              <br><br>
              于我而言，一切都是新的。七个月的拍摄过程，我在观看，也被引领着，走近崭新的天地：沉淀朴素的色彩与千姿百态，是飘荡在夜空中的精灵；纤细的银针散发着靡丽的光辉，乌黑的铅叶勾勒出原生的棱角；虚实闪烁的泡泡，熙熙攘攘地舞动着，变化着，宛若无息止的生命......重现，曾经对化学反应的一瞥成为反复实验与拍摄时长久的观望。在这过程中屈从与妥协，接纳并欣赏着每个事物原本的样貌，在已知的必然的反应发生中发现未知的偶然的惊喜。
              <br><br>
              这些微小的真实的造物，及其形态的微妙变化所产生的与自然界种种玄妙的关联，总能在不经意间，触发着我对大自然的崇敬，也牵引着我的遐想。
              <br><br>
              重现——对现实不加掩饰的呈现，仿佛才使我们有了更多对“为何”的提问与思考。
              <br><br>
              重现——在新的视野下，一切发现都没有边界，一切探索都不在于诉说一个答案。
              <br><br>
              重现，脑海中“熟悉”的知识被一次次带回“陌生”的原点，放下对美与丑，对与错固有的偏见，重新观看。
              <br><br>
              重现，是我初入化学世界时睁开双眼，开始迎接这里的第一缕阳光，现在，这阳光已渐入心灵深处，使我不断从梦中醒来，又进入到下一个梦境中。
              <br><br>
            </p>
            <p class="p3">——摄影师 朱文婷</p>
            <p class="p2">
              <br><br><br><br>
              仅就数量来说，“重现化学”（15部影片，总时长25分钟）是对“美丽化学”（8部影片，总时长8分钟）一次升级与突破。
              <br><br>
              当然，我们也在努力提升“重现化学”中每个影片的质量。视觉传达专业毕业的朱文婷主要探索化学反应内在的艺术表现力，而我则尝试在该项目中涵盖更多类型的化学反应，并通过红外热成像摄影等最先进的技术，展现出我们的肉眼无法感受到的化学的神奇与震撼。
              <br><br>
              最后，我要感谢中国化学会对美丽科学团队的信任与支持。
              <br><br>
            </p>
            <p class="p3">——摄影师 梁琰</p>
          </div>
        </div>
        <div class="paragraph">
          <div class="content_a1">
          <div class="footer_a"> <p class="p1">制作团队</p></div>
            <div class="footer_a">
              <p class="p4">影片制作<br>
              <p class="p5"> 摄影与剪辑：朱文婷 / 梁琰<br>
              实验设计：梁琰 / 朱文婷<br>
              实验支持：汪华莉 / 张旭晨<br>
              制片人：梁琰</p>
            </div>
            <div class="footer_a">
              <p class="p4">教学资源<br>
              <p class="p5">
              实验设计：王凯 / 龚伟 / 汪华莉 / 王丁俐 / 董煜强<br>
              实验支持：张旭晨<br>
              摄影：张翔<br>
              剪辑：张翔 / 张旭晨 / 李艳</p>
              <div></div>
            </div>
            <div class="footer_a">
              <p class="p4">项目支持<br>
              <p class="p5">
              对外合作：高昕 / 孙大平<br>
              项目运营：高昕 / 王晓宇 / 李聪<br>
              网站设计：关昱轩<br>
              网站技术：孙博儒
            </p>
            </div>
          </div>
        </div>
      </div>

    </div>


  </MainLayout>
</template>

<script type="text/babel">
  import MainLayout from '../components/MainLayout.vue'
  export default{
    components:{MainLayout},
    data(){
      return{
        clientHeight:'1000px'
      }},
//    methods:{},
    mounted(){
      this.clientHeight = `${document.documentElement.clientHeight}px`;

      const that = this;
      window.onresize = function temp() {
        that.clientHeight = `${document.documentElement.clientHeight}px`;
      }
    },
  }
</script>
<style>
  .container_a{
    display: block;
    width: 100%;

  }
  .first_cont_a{
    z-index: -2;
    background-image: url("https://content.kquestions.com/%E7%AE%AD%E5%A4%B4-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:50%,50%;
  }
  .h_content_a{
    z-index: -1;
    background-color: #000000;
    opacity: 0.3;

  }
  .title_cont_a{
    height: 40px;
    width: 80%;
    line-height: 1;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 48%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .second_cont_a{
    background-color: black;
    padding-bottom: 30px;
  }
  .paragraph{
    padding: 90px 0 0 0;
    min-height: 90px;
  }
  .content_a{
    width: 1088px;
    margin: 0 auto;

  }
  .p1 {
    font-size: 19px;
    line-height: 1.45;
    color: white;
    font-weight: 500;
  }
  .p2{
    font-size: 14.2px;
    color: #999;
    line-height: 1.45;
    margin: 0;
  }
  .p3{
    font-size: 15px;
    color: #999;
    text-align: right;
  }
  .p4{
    color: white;
    font-size: 15px;
  }
  .p5{
    font-size: 14px;
    color: #999;
  }
  .footer_a{
    width: 248px;
    display: inline-block;
    vertical-align: top;
    margin: 0 12px;
  }
  .content_a1{
    width: 1088px;
    margin: 0 auto;
    margin-bottom: 0px;
    font-size: 0px;
  }
  @media screen and (max-width: 499px){
    .title_cont_a p{
      font-size: 14px;
    }
  }
  @media screen and (max-width: 1299px) and (min-width:1000px ){
    .content_a,.content_a1{
      width: 924px;
    }
    .footer_a{
      width: 200px;
    }

  }
  @media screen and (max-width: 999px) and (min-width:875px ){
    .content_a{
      width: 812px;
    }
    .footer_a{
      width: 190px;
      margin: 0 6px;
    }
    .content_a1{
      width: 832px;
    }
  }
  @media screen and (max-width: 874px) and (min-width:728px ){
    .content_a{
      width: 642px;
    }
    .content_a1{
      width: 440px;
    }
    .footer_a{
      width: 440px;
    }

  }
  @media screen and (max-width: 727px) and (min-width:490px ){
    .content_a{
      width: 440px;
      padding-bottom: 0;
    }
    .content_a1{
      width: 440px;
    }

  }
  @media screen and (max-width: 489px) and (min-width:0px ){
    .p1{
      font-size: 16px;
    }
    .p2,.p5{
      font-size: 13px;
    }

    .content_a{
      width: 85%;
      padding-bottom: 0;
    }
    .content_a1{
      width: 85%;
    }
  }
</style>
