<template>
  <MainLayout color_dependence1='false'>
    <imgwithtext :toutu="toutu1bw" :items="blocksbw">

    </imgwithtext>

  </MainLayout>
</template>

<script type="text/babel">
  import MainLayout from '../components/MainLayout.vue'
  import imgwithtext from '../components/imgwithtext.vue'
  export default{
    components:{MainLayout,imgwithtext},
    data(){
      return{
        toutu1bw:{
          src1:'https://content.kquestions.com/EC_FILM_button-01.jpg',
          text1:'活泼金属可以和较不活泼金属盐溶液发生置换反应。铜比银活泼，锌比铅活泼，因此铜和锌分别可以置换出硝酸银和硝酸铅溶液中的银和铅，生成银和铅的微晶。该影片比较了银和铅微晶不同的生长模式，所有的镜头都是使用显微摄影拍摄。（摄影：梁琰）',
          src2:'https://www.bilibili.com/video/av15687083/'
        },
        blocksbw:[
          {src:'https://content.kquestions.com/Ag-01.jpg',text2:'',positiondep:'left'},
          {src:'https://content.kquestions.com/Ag-05.jpg',text2:'',positiondep:'right'},
          {src:'https://content.kquestions.com/Ag-02.jpg',text2:'',positiondep:'left'},
          {src:'https://content.kquestions.com/Ag-04.jpg',text2:'',positiondep:'right'},
          {src:'https://content.kquestions.com/Ag-03.jpg',text2:'',positiondep:'left'},
          {src:'https://content.kquestions.com/Ag-06.jpg',text2:'',positiondep:'right'},
          {src:'https://content.kquestions.com/Pb-01.jpg',text2:'',positiondep:'left'},
          {src:'https://content.kquestions.com/Pb-02.jpg',text2:'',positiondep:'right'},
          {src:'https://content.kquestions.com/Pb-03.jpg',text2:'',positiondep:'left'},
          {src:'https://content.kquestions.com/Pb-04.jpg',text2:'',positiondep:'right'},
          {src:'https://content.kquestions.com/Pb-05.jpg',text2:'',positiondep:'left'},
          {src:'https://content.kquestions.com/Pb-08.jpg',text2:'',positiondep:'right'},
        ]
      }},
  }

</script>
