<template>
  <MainLayout color_dependence1='false'>
    <imgwithtext :toutu="toutu1b" :items="blocksb">

    </imgwithtext>

  </MainLayout>
</template>

<script type="text/babel">
  import MainLayout from '../components/MainLayout.vue'
  import imgwithtext from '../components/imgwithtext.vue'
  export default{
    components:{MainLayout,imgwithtext},
    data(){
      return{
        toutu1b:{
          src1:'https://content.kquestions.com/EC_%E5%BD%B1%E7%89%87_button-06.jpg',
          text1:'当在溶液中发生的化学反应产生气体时，气体以气泡的形式浮到溶液表面并离开溶液。该影片共包括九个生成气体的反应。虽然气泡看起来大同小异，但用微距镜头聚焦其生成和运动的过程时，便展现出不同的意境。贝壳也能生成气泡吗？这部影片将给你答案。（摄影：朱文婷）',
          src2:'https://www.bilibili.com/video/av15732678/'
        },
        blocksb:[
          {src:'https://content.kquestions.com/Bubbling2_04_1.jpg',text2:'',positiondep:'left'},
          {src:'https://content.kquestions.com/Bubbling2_03_1.jpg',text2:'',positiondep:'right'},
          {src:'https://content.kquestions.com/Bubbling2_09_1.jpg',text2:'',positiondep:'left'},
          {src:'https://content.kquestions.com/Bubbling2_05_1.jpg',text2:'',positiondep:'right'},
          {src:'https://content.kquestions.com/Bubbling2_01_1.jpg',text2:'',positiondep:'left'},
          {src:'https://content.kquestions.com/Bubbling2_06_1.jpg',text2:'',positiondep:'right'},
          {src:'https://content.kquestions.com/Bubbling2_08_1.jpg',text2:'',positiondep:'left'},
          {src:'https://content.kquestions.com/Bubbling2_07_1.jpg',text2:'',positiondep:'right'},
        ]
      }},
  }

</script>
