<template>
  <MainLayout color_dependence1="true">

    <div class="container_c">
      <div class="first_cont_c" ref="nana_c"  :style="{height:clientHeight}">
        <div class="h_content_c" ref="haha_c" :style="{height:clientHeight}"></div>
        <div class="title_cont_c"><p>我们由衷感谢您提出的宝贵建议和意见</p></div>
      </div>
      <div class="second_cont_c">
        <div class="form_container">
          <div class="title_c">
            <div class="title_c_1">联系我们</div>
            <div class="title_c_2">如果您有任何想法和建议，欢迎给我们留言。</div>
          </div>
          <div class="form_cont">
            <form action="MAILTO:623080288@qq.com" method="post" enctype="text/plain">
              <div  class="form_3" >
                <input type="text" value="名字" class="form_1" onfocus="if(this.value==defaultValue){this.value='';this.style.color='#000'}" onblur="if(!value){value=defaultValue;this.style.color='#999'}" />
              <input type="text" value="邮箱" class="form_1" onfocus="if(this.value==defaultValue){this.value='';this.style.color='#000'}" onblur="if(!value){value=defaultValue;this.style.color='#999'}"/>
              </div>
                <textarea cols="50" class="form_2" rows="5" onfocus="if(value=='留言'){value='';this.style.color='#000'}"
                          onblur="if (value ==''){value='留言';this.style.color='#999'}">留言</textarea>
              <input type="submit"  value="提交" class="button button-royal button-pill button-giant"style="background-color: black;font-size: 18px"/>
            </form>
          </div>
        </div>
      </div>
      <div class="second_cont_c">
        <div class="qr_code_c">
          <div class="qr_cont_c">
            <a href="http://weibo.com/beautifulchemistry" target="_blank"><img src="https://content.kquestions.com/Fs1q0lCt6qDrHVPxDR01-_apa5Us.png"/></a>
            <p class="p2_e_c"><a href="http://weibo.com/beautifulchemistry" target="_blank" style="color: #999;text-decoration: none;border-bottom: 1px solid #999; ">微博</a></p>
          </div>
          <div class="qr_cont_c">
            <img src=" https://content.kquestions.com/FkqT_r1LUkhY7AxR4nU2uViI_u-v.jpg"/>
            <p class="p2_e_c">微信</p>

          </div>
          </div>
        </div>

    </div>


  </MainLayout>
</template>

<script type="text/babel">
  import MainLayout from '../components/MainLayout.vue'

  export default{
    components:{MainLayout},
    data(){
      return{
        clientHeight: '1000px',
      }},
//    methods:{},
    mounted(){
      this.clientHeight = `${document.documentElement.clientHeight}px`;

      const that = this;
      window.onresize = function temp() {
        that.clientHeight = `${document.documentElement.clientHeight}px`;
      }
    },

  }

</script>
<style>
  .container_c{
    display: block;
    width: 100%;

  }
  .first_cont_c{
    z-index: -2;
    background-image: url("https://content.kquestions.com/%E7%AE%AD%E5%A4%B4-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:50%,50%;
  }
  .h_content_c{
    z-index: -1;
    background-color: #000000;
    opacity: 0.3;

  }
  .title_cont_c{
    font-weight: 600;
    height: 40px;
    width: 80%;
    line-height: 1;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 48%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .second_cont_c{
    padding: 90px 0 0;
    background-color: black;
  }
  .form_container{
    height: 536px;
    width: 1064px;
    margin: 0 auto;
  }
  .form_cont{
    height: 436px;
    width: 680px;
    margin:0 auto;
    text-align: center;
  }
  .title_c{
    width: 680px;
    margin:0 auto;
    margin-bottom: 75px;
    text-align: center;
    color: white;
  }
  .title_c_1{
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 15px;
    font-weight: 500;

  }
  .title_c_2{
    font-size: 17px;

  }
  input{
    border: none;
    color: #999;
    font-size: 17px;
    outline: none;
  }
  textarea{
    color: #999;

  }
  input:active{
    clear: both;
  }
  .form_1{
    width: 317px;
    height: 25px;
    padding: 11px 10px;
    border-radius: 5px;
  }
  .form_2{
    width: 659px;
    height: 135px;
    padding: 11px 10px;
    margin: 1px;
    border-radius: 5px;
    outline: none;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .form_3{
    width: 680px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .qr_code_c{
    text-align: center;
  }
  .qr_cont_c{
    display: inline-block;
    width: 130px;
    text-align: center;
    margin: 0 0;
    vertical-align: top;
  }
  .qr_cont_c img{
    padding-bottom: 10px;
    width: 110px;
  }
  .p2_e_c{
    color: #999;
    font-size: 14.5px;
     margin: 0;
  }
  @media screen and (max-width: 499px){
    .title_cont_c p{
      font-size: 14px;
    }
  }
  @media screen and (max-width: 1299px) and (min-width:1000px ){
    .form_container{
      width: 924px;
    }

  }
  @media screen and (max-width: 999px) and (min-width:875px ){
    .form_container{
      width: 812px;
    }
  }
  @media screen and (max-width: 874px) and (min-width:728px ){
    .form_container{
      width: 642px;
    }
    .form_1,.form_2{
      width: 381px;
      display: block;
      margin: 0 auto 10px;
    }

  }
  @media screen and (max-width: 727px) and (min-width:490px ){
    .form_container{
      width: 440px;
      padding-bottom: 0;
    }
    .title_c,.form_cont,.form_3{
      width: 440px;
    }
    .form_3{
      margin-bottom: 0;
    }
    .form_1,.form_2{
      width: 381px;
      display: inline-block;
      margin: 0 auto 10px;
    }

  }
  @media screen and (max-width: 489px) and (min-width:0px ){
    .form_container{
      width: 85%;
      padding-bottom: 0;
    }
    .title_c,.form_cont,.form_3{
      width: 300px;
    }
    .form_3{
      margin-bottom: 0;
    }
    .form_1,.form_2{
      width: 280px;
      display: block;
      margin: 0 auto 10px;
    }
    .title_c_1{
      font-size: 18px;
    }
    .title_c_2{
      font-size: 14.2px;
    }
  }
</style>
