<template>
  <MainLayout color_dependence1='false'>
    <imgwithtext :toutu="toutu1c" :items="blocksc">

    </imgwithtext>

  </MainLayout>
</template>

<script type="text/babel">
  import MainLayout from '../components/MainLayout.vue'
  import imgwithtext from '../components/imgwithtext.vue'
  export default{
    components:{MainLayout,imgwithtext},
    data(){
      return{
        toutu1c:{
          src1:'https://content.kquestions.com/EC_FILM_button-02.jpg',
          text1:'晶体是美丽的，但形成晶体的过程更加美妙而神奇。该影片记录了5种盐类的结晶过程。首先在载玻片上滴加一滴盐类的饱和溶液，随着水的蒸发，液滴中会逐渐析出晶体。结晶过程耗时大概在10至30分钟，因此影片中对结晶过程的记录使用了延时摄影技术。（摄影：梁琰）',
          src2:'https://www.bilibili.com/video/av15683120/'
        },
        blocksc:[
          {src:'https://content.kquestions.com/Na2SO4_2.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/NaCl_2.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/K2Cr2O7_1_2.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/K2Cr2O7_2.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/K2CrO4_1_2.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/K2CrO4_02.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/NH4Cl_01.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/NH4Cl_02.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/NH4Cl_03.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/NH4Cl_04.jpg',text2:'一行小标语',positiondep:'right'},
        ]
      }},
  }

</script>
