<template>
  <MainLayout color_dependence1="true">

    <div class="container_e">
      <div class="first_cont_e" ref="nana_e" :style="{height:clientHeight}">
        <div class="h_content_e" ref="haha_e" :style="{height:clientHeight}"></div>
        <div class="title_cont_e">
          <div style="margin-bottom: 75px">
          <div class="title_e" style=" font-weight: 700"><p>- 仟 问 学 堂 -</p></div>
          <div class="describe"><p>致力于为中学教师和学生提供精品教学资源
          </p></div>
          </div>
          <div class="button_e">
            <a href="https://teach.kquestions.com/" target="_blank" class="button button-royal button-pill button-giant" style=" background-color: black;
    height: 62px;
    font-size: 22px;
    vertical-align: middle;
    line-height:2.8;" >
              进入资源库</a>
          </div>
        </div>
      </div>
      <div class="second_cont_e">
        <div class="paragraph_e">
          <div class="content_e">
            <p class="p1_e">仟问学堂品牌理念——概念可视化<br><br></p>
            <p class="p2_e">
              仟问学堂是美丽科学旗下专注提供中学科学教学资源的品牌。
               <br><br>
              仟问学堂的教学资源以课标为指导, 贴合教材体系。借助高清摄影、延时摄影、CG动画与AR交互等领先的技术手段，结合独特的科学与艺术视角, 仟问学堂制作出了高品质的数字教学资源为老师服务。
              <br><br>
              目前，仟问学堂化学资源库已经上线，其中包含 230余个视频资源, 覆盖高中化学各个教学知识点。该资源库旨在为高中化学老师解决现象不明显、实验耗时长、演示有危险、概念难理解等课堂教学痛点。
              <br><br>
              在制作化学资源库的过程中，仟问学堂不仅具有专业的化学教研团队来设计拍摄素材, 更得到了知名高校专家团队的指导, 共同策划制作。希望这样的资源库，能够成为老师教学的得力助手，帮助老师更有效率的教学，促进学生更有兴趣的学习。
            </p>
          </div>
        </div>
        <div class="paragraph_e">
          <div class="content_e_2">
            <div class="img_text_l">
              <a href="https://www.bilibili.com/video/av7097311/" target="_blank"><img src="https://content.kquestions.com/bos004.jpg"/></a>
              <p class="p3_e">视频资源1：铜和浓硝酸反应（高清摄影技术）</p>
              <p class="p2_e">课堂演示现象不明显，学生看不清：仟问学堂视频资源均采用4K超清摄影技术，记录最真实的反应瞬间，呈现最细微的物态变化。</p>
            </div>
            <div class="img_text_r">
              <a href="https://www.bilibili.com/video/av6954984/" target="_blank"><img src="https://content.kquestions.com/bos002.jpg"/></a>
              <p class="p3_e">视频资源2：铁和硫酸铜溶液反应（延时摄影技术）</p>
              <p class="p2_e">实验演示占用课堂时间：延时摄影技术的应用，得以将数小时的化学反应在1分钟内快速呈现，极大的节约课堂时间。</p>
            </div>
            <div class="img_text_l">
              <a href="https://www.bilibili.com/video/av15716094/" target="_blank"><img src="https://content.kquestions.com/bos001.jpg"/></a>
              <p class="p3_e">视频资源3：氯化钠在水中的电离（CG动画与AR交互）</p>
              <p class="p2_e">微观抽象概念难以理解：CG 及 AR 交互技术的应用，搭建起微观宏观的桥梁，让概念更好理解。</p>
            </div>
            <div class="img_text_r">
              <a href="https://www.bilibili.com/video/av15716248/" target="_blank"><img src="https://content.kquestions.com/bos005"/></a>
              <p class="p3_e">视频资源4：黑火药（远离实验危险）</p>
              <p class="p2_e">实验危险：系统的视频教学素材，覆盖高中所有知识点，帮助教师减免实验准备时间，远离毒害危险。</p>
            </div>
          </div>
        </div>
        <div class="paragraph_e">
          <div class="content_e">
            <p class="p1_e" style="margin-top: 10px; ">四种方式使用资源库</p>
            <div class="qr_code">
              <div class="qr_cont">
                <img src="https://content.kquestions.com/Fu-X3mTsm33QeNl3UkufPP85u-Mh.png"/>
                <p class="p2_e"><a href="https://teach.kquestions.com" target="_blank" style="color: #999;text-decoration: none;border-bottom: 1px solid #999; ">资源库主页</a></p>
              </div>
              <div class="qr_cont">
                <img src="https://content.kquestions.com/%E6%89%AB%E6%8F%8F%E8%BF%9B%E5%85%A5%E4%BB%9F%E9%97%AEH5.jpg"/>
                <p class="p2_e">微信学习入口</p>
              </div>
              <div class="qr_cont">
                <img src="https://content.kquestions.com/Android%20%E4%BB%9F%E9%97%AE%E4%B8%8B%E8%BD%BD.png"/>
                <p class="p2_e">Android 客户端</p>
              </div>
              <div class="qr_cont">
                <img src="https://content.kquestions.com/iOS%20%E4%BB%9F%E9%97%AE%E4%B8%8B%E8%BD%BD.jpg"/>
                <p class="p2_e">iOS 客户端</p>
              </div>
            </div>
          </div>
        </div>
        <div class="paragraph_e">
          <div class="content_e">
            <p class="p1_e" style="margin-bottom: 3px">联系我们</p>
            <p class="p2_e_1">如果您希望得到有关“仟问学堂”更详细的介绍，欢迎访问我们的<a href="https://www.kquestions.com" target="_blank" style="color: #999">主页</a><br>
              咨询电话：0551--62678653</p>
          </div>
        </div>
        <!--<div class="paragraph_e1">-->
        <!--<div class="content_e">-->
          <!--<div class="second_cont">-->
            <!--<div class="ghost" ></div>-->
            <!--<div class="content_cont">-->

              <!--<div class="img_cont"><img src="https://content.kquestions.com/Logo002.png" /> </div>-->
              <!--<div style="height: 20%;width: 100%;display: block"></div>-->
              <!--<div class="footer"><br><br><br><br><br><p>Copyright © Xinzhi Digital Media. All rights reserved.</p></div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      </div>


    </div>


  </MainLayout>
</template>

<script type="text/babel">
  import MainLayout from '../components/MainLayout.vue'

  export default{
    components:{MainLayout},
    data(){
      return{
        clientHeight: '1000px',
      }},
//    methods:{},
    mounted(){
      this.clientHeight = `${document.documentElement.clientHeight}px`;
      const that = this;
      window.onresize = function temp() {
        that.clientHeight = `${document.documentElement.clientHeight}px`;
      }
    },

  }

</script>
<style>
  .button button-royal button-pill button-giant{
    width: 258px!important;

  }
  .container_e{
    display: block;
    width: 100%;

  }
  .first_cont_e{
    z-index: -2;
    background-image: url("https://content.kquestions.com/Precipitation3_04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:50%,50%;
  }
  .h_content_e{
    z-index: -1;
    background-color: #000000;
    opacity: 0.3;

  }
  .title_cont_e{
    width: 80%;
    line-height: 1.2;
    display: inline-block;
    text-align: center;
    font-size: 33px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .describe{
  font-size: 18px;
    margin: 0px 0px 10px 0px ;
  }
  .title_e{
    margin: 0 0 20px 0;
  }
  p{
    margin: 0px;
  }
  .button_e a:visited{
    color: white;
  }
  .second_cont_e{
    background-color: black;
  }
  .paragraph_e{
    padding: 90px 0 0 0 ;
  }
  .content_e, .content_e_2{
    width: 1064px;
    margin: 0 auto;

  }
  .content_e_2{
    font-size: 0px;
  }
  .p1_e{
    font-weight: 500;
    color: white;
    line-height: 1.45;
    font-size: 19px;
    text-align: center;
  }
  .p2_e{
    color: #999;
    font-size: 14.5px;
  }
  .p2_e_1{
    color: #999;
    font-size: 14.5px;
    text-align: center;
    margin-top: 30px;
  }
  .p3_e{
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .img_text_r,.img_text_l{
    width: 520px;
    margin-bottom: 65px;
    vertical-align: top;
  }
  .img_text_r img,.img_text_l img{
    width: 100%;
    margin-bottom: 15px;
  }
  .img_text_r{
   display: inline-block;

  }
  .img_text_l{
    display: inline-block;
    margin-right: 24px;
  }
  .qr_code{
    margin-top: 40px;
    margin-bottom: 45px;
    text-align: center;
  }
  .qr_cont{
    display: inline-block;
    width: 130px;
    text-align: center;
    margin: 0 0;
    vertical-align: top;
  }
  .qr_cont img{
    padding-bottom: 10px;
    width: 110px;
  }
  @media screen and (max-width: 479px){
  .title_e p{
    font-size: 30px;
  }
    .describe p{
      font-size: 14px;
    }
  }
  @media screen and (max-width: 1299px) and (min-width:1000px ){
    .content_e,.content_e_2{
      width: 924px;
    }
    .img_text_l,.img_text_r{
      width: 450px;
    }
  }
  @media screen and (max-width: 999px) and (min-width:875px ){
    .content_e{
      width: 812px;
    }
    .content_e_2{
      width: 832px;
    }
    .img_text_l,.img_text_r{
      width: 396px;
    }
  }
  @media screen and (max-width: 874px) and (min-width:728px ){
    .content_e{
      width: 642px;
    }
    .content_e_2{
      width: 656px;
    }
    .img_text_l,.img_text_r{
      width: 314px;
      margin-bottom: 40px;
    }

  }
  @media screen and (max-width: 727px) and (min-width:490px ){
    /*.container_e{*/
      /*padding-top: 70px;*/
    /*}*/
    .content_e{
      width: 440px;
    }
    .content_e_2{
      width: 440px;
    }
    .img_text_l,.img_text_r{
      width: 440px;
    }
    .qr_code{
      width: 320px;
      margin: 40px auto 15px;
    }
    .qr_cont{
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 489px) and (min-width:0px ){
    /*.container_e{*/
      /*padding-top: 70px;*/
    /*}*/
    .content_e{
      width: 85%;
      padding-bottom: 0;
    }
    .content_e_2{
      width: 85%;
    }
    .img_text_l,.img_text_r{
      width: 100%;
    }
    .qr_code{
      width: 80%;
      margin: 40px auto 15px;
    }
    .qr_cont{
      margin-bottom: 30px;
    }
  }
</style>

