<template>
  <MainLayout color_dependence1='false'>
    <imgwithtext :toutu="toutu1e" :items="blockse">

    </imgwithtext>

  </MainLayout>
</template>

<script type="text/babel">
  import MainLayout from '../components/MainLayout.vue'
  import imgwithtext from '../components/imgwithtext.vue'
  export default{
    components:{MainLayout,imgwithtext},
    data(){
      return{
        toutu1e:{
          src1:'https://content.kquestions.com/EC_FILM_button-04.jpg',
          text1:'元素可以燃烧，一些元素在燃烧过程中会释放耀眼的光，一些元素的燃烧过程非常的绚丽，还有一些元素燃烧后会生成奇怪形状的化合物。该影片展示了碳、钠、磷、镁和硫五种元素的燃烧过程。（摄影：梁琰）',
          src2:'https://www.bilibili.com/video/av15685599/'
        },
        blockse:[
          {src:'https://content.kquestions.com/Elemental_burning_C_01_1.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/Elemental_burning_Na_01_1.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/Elemental_burning_P_01_1.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/Elemental_burning_S_01_1.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/Elemental_burning_Mg_01_1.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/Elemental_burning_Mg_02_1.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/Elemental_burning_Mg_03_1.jpg',text2:'一行小标语',positiondep:'middle'},

        ]
      }},
  }

</script>
