<template>
  <MainLayout color_dependence1='false'>
    <template>
     <div class="container_f">
       <div class="large_container">
         <div class="title_f">
           <p class="tp_1">系列影片</p>
           <p class="tp_2">每周更新，敬请关注。</p>
         </div>
         <div class="content_lf">
           <div class="des_f">
             <router-link to="/bubbling2" target="_blank">
               <img src="https://content.kquestions.com/%E6%B0%94%E4%BD%932.jpg" width="100%" style="margin-bottom: 10px"></router-link>
             <p>当在溶液中发生的化学反应产生气体时，气体以气泡的形式浮到溶液表面并离开溶液。该影片共包括九个生成气体的反应。虽然气泡看起来大同小异，但用微距镜头聚焦其生成和运动的过程时，便展现出不同的意境。贝壳也能生成气泡吗？这部影片将给你答案。（摄影：朱文婷）</p>
           </div>
           <div class="des_f">
             <router-link to="/metals" target="_blank">
               <img src="https://content.kquestions.com/Disappearing_metals_vimeo_cover_cn.jpg" width="100%" style="margin-bottom: 10px"></router-link>
             <p>金属看似坚不可摧，但也能溶于各种各样的溶液中。该影片展示了5种金属在不同的溶液中溶解和消失的过程，这些溶液包括酸、碱甚至水。看着这些美丽的金属逐渐消失还真是有点感伤呢……（摄影：梁琰）</p>
           </div>
           <div class="des_f">
             <router-link to="/elementsburning" target="_blank">
               <img src="https://content.kquestions.com/Elemental-burning-vimeo-cover-2_cn.jpg" width="100%" style="margin-bottom: 10px"></router-link>
             <p>元素可以燃烧，一些元素在燃烧过程中会释放耀眼的光，一些元素的燃烧过程非常的绚丽，还有一些元素燃烧后会生成奇怪形状的化合物。该影片展示了碳、钠、磷、镁和硫五种元素的燃烧过程。（摄影：梁琰）</p>
           </div>
         </div>
       </div>
       <div class="middle_container">
         <div class="content_mf">
           <div class="des_mfl">
             <router-link to="/precipitation2" target="_blank">
             <img src="https://content.kquestions.com/Precipitation_2_vimeo_cover_cn.jpg"> </router-link>
             <p>溶液中，阴离子与阳离子形成不溶于水的化合物的过程，称为沉淀反应。该影片展现了6种不同的沉淀反应。如果在你印象里沉淀反应只是试管中的澄清液变为浑浊液，那你需要看看这个视频！（摄影：梁琰）</p>

           </div>
           <div class="des_mfr">
             <router-link to="/precipitation3" target="_blank">
             <img src="https://content.kquestions.com/%E6%B2%89%E6%B7%803.jpg"> </router-link>
             <p>溶液中的阴离子与阳离子结合形成不溶于水的化合物的过程，称为沉淀反应。该影片用显微摄影技术展现了8种不同的沉淀反应，微观视角下，这些简单的反应也会呈现出动人心魄的美。（摄影：朱文婷）</p>
           </div>
           <div class="des_mfl">
             <router-link to="/blackandwhite" target="_blank">
             <img src="https://content.kquestions.com/Black_white_vimeo_cover_cn.jpg"> </router-link>
             <p>活泼金属可以和较不活泼金属盐溶液发生置换反应。铜比银活泼，锌比铅活泼，因此铜和锌分别可以置换出硝酸银和硝酸铅溶液中的银和铅，生成银和铅的微晶。该影片比较了银和铅微晶不同的生长模式，所有的镜头都是使用显微摄影拍摄。（摄影：梁琰）</p>

           </div>
           <div class="des_mfr">
             <router-link to="/crystal2" target="_blank">
             <img src="https://content.kquestions.com/crystallization_2_vimeo_cn.jpg"> </router-link>
             <p>晶体是美丽的，但形成晶体的过程更加美妙而神奇。该影片记录了5种盐类的结晶过程。首先在载玻片上滴加一滴盐类的饱和溶液，随着水的蒸发，液滴中会逐渐析出晶体。结晶过程耗时大概在10至30分钟，因此影片中对结晶过程的记录使用了延时摄影技术。（摄影：梁琰）</p>

           </div>
           <div class="des_mfl">

               <img src="https://content.kquestions.com/%E7%94%B5%E6%B2%89%E7%A7%AF.jpg">
             <p style="text-align: center">即将上线</p>
           </div>
           <div class="des_mfr">

               <img src="https://content.kquestions.com/Getting_hot_vimeo_cover_cn.jpg">
             <p style="text-align: center">即将上线</p>
           </div>
           <div class="des_mfl">

               <img src="https://content.kquestions.com/%E5%8C%96%E5%AD%A6%E8%8A%B1%E5%9B%AD2.jpg">
             <p style="text-align: center">即将上线</p>
           </div>
           <div class="des_mfr">

               <img src="https://content.kquestions.com/Elemental_burning_2_vimeo_cover_2_cn.jpg">
             <p style="text-align: center">即将上线</p>
           </div>
           <div class="des_mfl">

               <img src="https://content.kquestions.com/%E6%B2%89%E6%B7%804.jpg">
             <p style="text-align: center">即将上线</p>
           </div>
           <div class="des_mfr">

               <img src="https://content.kquestions.com/%E9%87%91%E5%B1%9E%E7%BD%AE%E6%8D%A22.jpg">
             <p style="text-align: center">即将上线</p>
           </div>
           <div class="des_mfl">
               <img src="https://content.kquestions.com/%E6%B0%94%E4%BD%933.jpg">
             <p style="text-align: center">即将上线</p>
           </div>
           <div class="des_mfr">

               <img src="https://content.kquestions.com/Everyday%20fire%20vimeo%20cover_cn.jpg">
             <p style="text-align: center">即将上线</p>
           </div>
           <!--<div class="des_mf">-->
             <!--<router-link to="/elementsburning" target="_blank">-->
             <!--<img src="https://content.kquestions.com/Elemental-burning-vimeo-cover-2_cn.jpg"> </router-link>-->
             <!--<p>元素可以燃烧，一些元素在燃烧过程中会释放耀眼的光，一些元素的燃烧过程非常的绚丽，还有一些元素燃烧后会生成奇怪形状的化合物。该影片展示了碳、钠、磷、镁和硫五种元素的燃烧过程。（摄影：梁琰）</p>-->
           <!--</div>-->
         </div>
       </div>
     </div>
    </template>

  </MainLayout>
</template>

<script type="text/babel">
  import MainLayout from '../components/MainLayout.vue'

  export default{
    components:{MainLayout},
    data(){
      return{
        color_dependence2:false

      }
    }
  }

</script>
<style>
  .container_f{
    padding: 110px 0 0 0;
  }
  .large_container,.middle_container{
    width: 1064px;
    height: auto;
    margin: 0 auto;
    font-size: 0;
  }
  .large_container{
    padding-bottom: 40px;
  }
  .title_f{
    margin-bottom: 45px;
    text-align: center;
  }
  .title_f .tp_1{
    font-weight: 600;
    font-size: 26px;
    margin: 0;
  }
  .tp_2{
    margin: 0;
    padding-top: 10px;
    font-size: 14px;
    color: #999;
  }
  .des_f p{
    color: #999;
    font-size: 15px;
    margin-bottom: 40px;
  }
  .des_mfr,.des_mfl,.des_mf{
    width: 520px;
  }
  .des_mfr p,.des_mfl p,.des_mf p{
    color: #999;
    font-size: 14.4px;
    margin-bottom: 40px;
  }
  .des_mfr img,.des_mfl img,.des_mf img{
    width: 100%;
  }
  .des_mf{
    margin: 0 auto;
  }
  .des_mfl{
    display: inline-block;
    margin-right: 24px;

  }
  .des_mfr{
    display: inline-block;
  }
  .content_mf p{
    color: #999;
    font-size: 14.4px;
    margin-bottom: 40px;
  }
 .container_f img{
    margin-bottom: 10px;
  }
  @media screen and (max-width: 1299px) and (min-width:1000px ){
    .large_container,.middle_container{
      width: 924px;
    }
    .des_mfr,.des_mfl{
      width: 450px;
    }
  }
  @media screen and (max-width: 999px) and (min-width:875px ){
    .large_container{
      width: 812px;
    }
    .middle_container{
      width: 832px;
    }
    .des_mfr,.des_mfl{
      width: 396px;
    }
  }
  @media screen and (max-width: 874px) and (min-width:728px ){
    .large_container{
      width: 642px;
    }
    .middle_container{
      width: 656px;
    }
    .des_mfr,.des_mfl{
      width: 314px;
    }
  }
  @media screen and (max-width: 727px) and (min-width:490px ){
    .container_f{
      padding-top: 70px;
    }
    .large_container{
      width: 440px;
      padding-bottom: 0;
    }
    .middle_container{
      width: 440px;
    }
    .des_mfr,.des_mfl{
      width: 440px;
    }
  }
  @media screen and (max-width: 489px) and (min-width:0px ){
    .container_f{
      padding-top: 70px;
    }
    .large_container{
      width: 85%;
      padding-bottom: 0;
    }
    .middle_container{
      width: 85%;
    }
    .des_mfr,.des_mfl{
      width: 100%;
    }
  }
</style>
