<template>
  <MainLayout color_dependence1="true">
      <div class="container">
       <div class="first_cont" ref="nana" :style="{height:clientHeight}">
         <div class="h_content" ref="haha" :style="{height:clientHeight}"></div>
         <div class="title_cont">
           <p style=" margin: 0; font-weight: 700">- 重 现 化 学 -</p>
           <p class="p1_h" style=" margin-top: 10px;">精美化学影片，精品教学资源</p>
         </div>
         <div class="report_h">
           <p class="p2_h1" style="margin: 0;font-weight: 700">「 媒体报道 」</p>
           <p class="p2_h" style="margin-top: 10px;">
             <a href="https://www.newyorker.com/tech/elements/seeing-the-invisible-world-with-the-2017-nobel-prize-in-chemistry" target="_blank">纽约客</a>　|　<a href="https://www.chemistryworld.com/news/beautiful-screen-chemistry-/3008075.article" target="_blank">化学世界</a>　|　<a href="http://www.thisiscolossal.com/2017/10/envisioning-chemistry-stunning-footage-of-chemical-reactions-filmed-by-wenting-zhu/" target="_blank">COLOSSAL</a>　|　<a href="http://www.wired.co.uk/article/beauty-of-science-cinematic-chemistry" target="_blank">连线杂志</a></p>
         </div>
       </div>
      </div>
  </MainLayout>
</template>

<script type="text/babel">
  import MainLayout from '../components/MainLayout.vue'
  import navfooter from '../components/navfooter.vue'
  export default{
    components:{MainLayout,navfooter},
    data(){
      return{
        color_dependence2:'true',
        clientHeight: '1000px',
      }
    },







    mounted(){
//      var h = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
//      this.$refs.nana.style.height = h + 'px';
//      this.$refs.haha.style.height = h + 'px';

      // 动态设置背景图的高度为浏览器可视区域高度

      // 首先在Virtual DOM渲染数据时，设置下背景图的高度．
      this.clientHeight = `${document.documentElement.clientHeight}px`;
      // 然后监听window的resize事件．在浏览器窗口变化时再设置下背景图高度．
      const that = this;
      window.onresize = function temp() {
        that.clientHeight = `${document.documentElement.clientHeight}px`;
      };

    }

  }

</script>
<style>
  .container{
    display: block;
    width: 100%;
    height: auto;

  }
  .first_cont{
    z-index: -2;
    background-image: url("https://content.kquestions.com/Precipitation3_05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:50%,50%;
  }
  .h_content{
    z-index: -1;
    background-color: #000000;
    opacity: 0.3;
  }
  .title_cont{
    height: 40px;
    width: 80%;
    line-height: 1.2;
    display: inline-block;
    text-align: center;
    font-size: 32px;
    color: white;
    position: absolute;
    top: 43%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .report_h{
    height: 40px;
    width: 80%;
    line-height: 1.2;
    display: inline-block;
    text-align: center;
    color: black;
    position: absolute;
    top: 78%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .p2_h1{
    font-size: 20px;
    color: white;
  }
  .p2_h{
    color: #e2e2e2;
    font-size: 15px;
  }
  .p2_h a{
    color: #e2e2e2;
    text-decoration: none;
    border-bottom: 1px solid #999;
  }
  .p2_h>a:hover {
    color: white;
  }
  .p1_h{
    font-size: 18px;
  }
  @media screen and (max-width: 479px) {
   .title_cont{
     font-size: 22px;
     top:40%;
   }
    .p1_h{
      font-size: 16px;
    }
    .report_h{
      width: 320px;
      top:75%;
    }
    .p2_h{
      color: white;
      font-size: 13px;
    }
    .p2_h1{
      font-size: 14px;
    }
    .p2_h a{
      border-bottom: 1px solid #999;
    }
  }
</style>
