<template>
  <MainLayout color_dependence1='false'>
    <imgwithtext :toutu="toutu1m" :items="blocksm">

    </imgwithtext>

  </MainLayout>
</template>

<script type="text/babel">
  import MainLayout from '../components/MainLayout.vue'
  import imgwithtext from '../components/imgwithtext.vue'
  export default{
    components:{MainLayout,imgwithtext},
    data(){
      return{
        toutu1m:{
          src1:'https://content.kquestions.com/EC_FILM_button-03.jpg',
          text1:'金属看似坚不可摧，但也能溶于各种各样的溶液中。该影片展示了5种金属在不同的溶液中溶解和消失的过程，这些溶液包括酸、碱甚至水。看着这些美丽的金属逐渐消失还真是有点感伤呢……（摄影：梁琰）',
          src2:'https://www.bilibili.com/video/av15731344/'
        },
        blocksm:[
          {src:'https://content.kquestions.com/Disappearing_metals_Al_1.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/Disappearing_metals_K_1.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/Disappearing_metals_K_1.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/Disappearing_metals_Li_1.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/Disappearing_metals_Mg_1.jpg',text2:'一行小标语',positiondep:'middle'},

        ]
      }},
  }

</script>
