<template>
  <MainLayout color_dependence1='false'>
    <imgwithtext :toutu="toutu1p2" :items="blocksp2">

    </imgwithtext>

  </MainLayout>
</template>

<script type="text/babel">
  import MainLayout from '../components/MainLayout.vue'
  import imgwithtext from '../components/imgwithtext.vue'
  export default{
    components:{MainLayout,imgwithtext},
    data(){
      return{
        toutu1p2:{
          src1:'https://content.kquestions.com/EC_FILM_button-09.jpg',
          text1:'溶液中，阴离子与阳离子形成不溶于水的化合物的过程，称为沉淀反应。该影片展现了6种不同的沉淀反应。如果在你印象里沉淀反应只是试管中的澄清液变为浑浊液，那你需要看看这个视频！（摄影：梁琰）',
          src2:'https://www.bilibili.com/video/av15710295/'
        },
        blocksp2:[
          {src:'https://content.kquestions.com/AgNO3-0.1-to-NaCl-0.2-S02-F03.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/AgNO3-0.1-to-NaCl-0.5-S02-F01.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/BaCl2-0.1-to-Na2SO4-0.2-S01-F01.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/KI-0.1-to-Pb%28NO3%292-0.1-S04a-F01.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/CaCl2-0.1-to-Na2CO3-0.1-S01-F01.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/FeCl3-0.1-to-NaOH-0.2-S02.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/CuCl2-0.1-to-NaOH-0.2-P02.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/K2CrO4-0.1-to-AgNO3-0.1-S02-F01.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/AgNO3-0.1-to-NaCl-0.2-S02-F02.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/CoCl2-0.1-to-NaOH-0.2-P05.jpg',text2:'一行小标语',positiondep:'right'},
        ]
      }},
  }

</script>
