<template>
  <MainLayout color_dependence1='false'>
    <imgwithtext :toutu="toutu1p3" :items="blocksp3">

    </imgwithtext>

  </MainLayout>
</template>

<script type="text/babel">
  import MainLayout from '../components/MainLayout.vue'
  import imgwithtext from '../components/imgwithtext.vue'
  export default{
    components:{MainLayout,imgwithtext},
    data(){
      return{
        toutu1p3:{
          src1:'https://content.kquestions.com/EC_%E5%BD%B1%E7%89%87_button-02.jpg',
          text1:'溶液中的阴离子与阳离子结合形成不溶于水的化合物的过程，称为沉淀反应。该影片用显微摄影技术展现了8种不同的沉淀反应，微观视角下，这些简单的反应也会呈现出动人心魄的美。（摄影：朱文婷）',
          src2:'https://www.bilibili.com/video/av15712585/'
        },
        blocksp3:[
          {src:'https://content.kquestions.com/Precipitation3_10_1.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/Precipitation3_01_1.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/Precipitation3_06_1.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/Precipitation3_09_1.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/Precipitation3_11_1.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/Precipitation3_13_1.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/Precipitation3_02_1.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/Precipitation3_03_1.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/Precipitation3_12_1.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/Precipitation3_05_1.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/Precipitation3_07_1.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/Precipitation3_08_1.jpg',text2:'一行小标语',positiondep:'right'},
          {src:'https://content.kquestions.com/Precipitation3_04_1.jpg',text2:'一行小标语',positiondep:'left'},
          {src:'https://content.kquestions.com/Precipitation3_14_1.jpg',text2:'一行小标语',positiondep:'right'},
        ]
      }},
  }

</script>
