<template>
  <div id="app">
    <transition :name="transition001" enter-active-class="animated fadeIn"  >
    <router-view v-wechat-title="$route.meta.title"></router-view>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'app',
    data () {
    return {
    }
  },
  mounted(){},
    watch: {
      '$route' (to, from) {
        const toDepth = to.path.split('/').length
        const fromDepth = from.path.split('/').length
        this.transition001 = toDepth < fromDepth ? 'slide-right' : 'slide-left'
      }
    }
  }
</script>

<style lang="scss">
  @import "./style/style";
  @import "../static/css/buttons.css";
  @import "../static/css/animate.css";
</style>
