<template>
  <div class="container_f_i">
    <div class="large_container_i">
        <div class="content_lf_i">
          <div class="des_f_i">
            <a :href="toutu.src2"> <img :src="toutu.src1" width="100%" style="margin-bottom: 10px"></a>
            <p>{{toutu.text1}}</p>
          </div>
        </div>
    </div>
    <div class="middle_container_i">
      <div class="content_mf_i">
        <div v-for="item in items" :class="item.positiondep=='left'?'des_mfl_i': item.positiondep=='right'?'des_mfr_i':'des_mf_i'" >
            <img :src="item.src">
          <p>{{ item.text2}}</p>
        </div>
      </div>
      <div class="ghost_i"></div>
    </div>
  </div>
</template>

<script>
  export default{
    props:['toutu','items'
//      toutu:[{src1:'',text1:'',src2:''}],
//      items:[{
//        src:'',
//        text2:'',
//        positiondep:'',
//      }]

    ],

  }
</script>
<style>
  .container_f_i{
    padding: 110px 0 0 0;
  }
  .large_container_i,.middle_container_i{
    width: 1064px;
    margin: 0 auto;
  }
  .large_container_i{
    margin-top: 50px;
    padding-bottom: 40px;
  }
  .title_f_i{
    font-size: 25px;
    text-align: center;
    margin-bottom: 65px;
  }
  .des_f_i p{
    color: #999;
    font-size: 15px;
    margin-bottom: 40px;
  }
  .des_mfr_i,.des_mfl_i,.des_mf_i{
    width: 520px;
  }
  .des_mfr_i p,.des_mfl_i p,.des_mf_i p{
    color: #999;
    font-size: 14.4px;
    margin-bottom: 40px;
  }
  .des_mfr_i img,.des_mfl_i img,.des_mf_i img{
    width: 100%;
  }
  .des_mf_i{
    margin: 0 auto;
  }
  .des_mfl_i{
    display: inline-block;
    margin-right: 24px;
  }
  .des_mfr_i{
    display: inline-block;
  }
  .content_mf_i p{
    color: #999;
    font-size: 14.4px;
    margin-bottom: 40px;
    text-align: center;
  }
  img{
    margin-bottom: 10px;
  }

  @media screen and (max-width: 1299px) and (min-width:1000px ){
    .large_container_i,.middle_container_i{
      width: 924px;
    }
    .des_mfr_i,.des_mfl_i{
      width: 450px;
    }
  }
  @media screen and (max-width: 999px) and (min-width:875px ){
    .large_container_i{
      width: 812px;
    }
    .middle_container_i{
      width: 832px;
    }
    .des_mfr_i,.des_mfl_i{
      width: 396px;
    }
  }
  @media screen and (max-width: 874px) and (min-width:728px ){
    .large_container_i{
      width: 642px;
    }
    .middle_container_i{
      width: 656px;
    }
    .des_mfr_i,.des_mfl_i{
      width: 314px;
    }
  }
  @media screen and (max-width: 727px) and (min-width:490px ){
    .container_f_i{
      padding-top: 70px;
    }
    .large_container_i{
      width: 440px;
      padding-bottom: 0;
    }
    .middle_container_i{
      width: 440px;
    }
    .des_mfr_i,.des_mfl_i{
      width: 440px;
    }
  }
  @media screen and (max-width: 489px) and (min-width:0px ){
    .container_f_i{
      padding-top: 70px;
    }
    .large_container_i{
      width: 85%;
      padding-bottom: 0;
    }
    .middle_container_i{
      width: 85%;
    }
    .des_mfr_i,.des_mfl_i{
      width: 100%;
    }
  }
</style>
