<template>
  <div>
    <naviitem></naviitem>
    <slot></slot>
    <navfooter :color_dependence=color_dependence1></navfooter>
  </div>
</template>
<script type="text/babel">
  import naviitem from '../components/naviitem.vue'
  import navfooter from '../components/navfooter.vue'


  export default {
    components: {naviitem,navfooter},
    data(){
      return{
      }},
      props:['color_dependence1'],

  }
</script>
<style >
</style>
