<template>
  <div>
    <div class="second_cont" v-show="color_dependence=='true'">
      <div class="ghost" ></div>
      <div class="content_cont">
        <div class="img_cont"><img src="https://content.kquestions.com/Logo002.png" /> </div>
        <div style="height: 20%;width: 100%;display: block"></div>
        <div class="footer"><br><br><br><br><br><p> Copyright ©2017 新知数媒，保留所有权利。皖ICP备<a href="http://www.miitbeian.gov.cn/" target="_blank" style="color: #999">16011495号-5</a></p></div>
      </div>
    </div>
    <div class="second_cont1" v-show="color_dependence=='false'">
      <div class="ghost" ></div>
      <div class="content_cont">
        <div class="img_cont"><img src="https://content.kquestions.com/%E9%A1%B5%E8%84%9ALogo%E5%89%AF%E6%9C%AC.png" /> </div>
        <div style="height: 20%;width: 100%;display: block"></div>
        <div class="footer" style="color: black"><br><br><br><br><br><p>Copyright ©2017 新知数媒，保留所有权利。皖ICP备<a href="http://www.miitbeian.gov.cn/" style="color: black" target="_blank">16011495号-5</a></p></div>
      </div>
    </div>
  </div>
</template>
<script>
  export default{
    props:['color_dependence'],

  }
</script>
<style>
  .footer{
    line-height: 1;
    text-align: center;
    font-size: 14px;
    color: #999;
  }
  .ghost{
    height: 35%;
    width: 100%;
  }
  .second_cont,.second_cont1{
    height: 389px;
    padding: 90px 0px;

  }
  .second_cont{
    background-color: black;
  }
  .second_cont1{
    background-color: white;
    padding: 30px 0 90px 0;
  }
  .content_cont{
    width: 45%;
    margin: 0 auto;
    text-align: center;
  }
  .img_cont img{
    width: 520px;
  }

  @media screen and (max-width: 1299px) and (min-width:1000px ){
    .img_cont img{
      width: 450px;
    }
    .footer{
      line-height: 1;
      text-align: center;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 999px) and (min-width:875px ){
    .img_cont img{
      width: 396px;
    }
    .footer{
      line-height: 1.1;
      text-align: center;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 874px) and (min-width:728px ){
    .second_cont,.second_cont1{
      height: 346px;
    }
    .img_cont img{
      width: 314px;
    }
    .footer{
      width: 314px;
      line-height: 1.2;
      text-align: center;
      font-size: 14px;
      margin: 0px auto;
    }

  }
  @media screen and (max-width: 727px) and (min-width:490px ){
    .second_cont,.second_cont1{
      height: 317px;
      padding: 65px 0px;
    }
    .second_cont{
      height: 317px;
      padding: 65px 0px;
    }
    .second_cont1{
      height: 317px;
      padding: 10px 0 65px 0;
    }
    .content_cont{
      width: 440px;
    }
    .img_cont img{
      width: 440px;
    }
    .footer{
      width: 440px;
      line-height: 1.1;
      text-align: center;
      font-size: 14px;
      margin: 0px auto;
    }
    .ghost{
      height: 107px;
    }
  }
  @media screen and (max-width: 489px) and (min-width:0px ){
    .second_cont{
      height: 272px;
      padding: 65px 0px;
    }
    .second_cont1{
      height: 272px;
      padding: 35px 0px 65px;
    }
    .ghost{
      height: 87px;
    }
    .content_cont{
      width: 100%;
    }
    .img_cont img{
      width: 80%;
    }
    .footer{
      width: 85%;
      line-height: 0.8;
      text-align: center;
      font-size: 12px;
      margin: 0px auto;
    }
    .footer p{
      line-height: 1.4;
    }
  }
</style>
