<template>
  <div >
   <div class="mobile_nav">
    <div class="little_nav" @click="show=!show;button_click" id="little_nav">
      <transition name='fade001' enter-active-class="animated fadeInDown"
                  leave-active-class="animated fadeOutUp">
      <div v-if="!show">

      <img src="../WechatIMG28.png" width="100%" id="nav_001" />

    </div>
      </transition>
    </div>
   </div>
    <transition name='fade' enter-active-class="animated fadeInDown"
                leave-active-class="animated fadeOutUp">
    <div class="drop_down"  v-if="show" id="001">
      <div class="sl1_n" id="sl1_n">
        <div class="sl2_n">
          <div class="fork_n" @click="show=!show;button_close" style="width: 35px">&times;</div>
          <router-link to="/" exact><div class="mobile_title"><p>重现化学</p></div></router-link>
          <router-link to="/films"><div class="mobile_title"><p>系列影片</p></div></router-link>
          <router-link to="/education"><div class="mobile_title"><p>化学教学</p></div></router-link>
          <router-link to="/about"> <div class="mobile_title"><p>关于我们</p></div></router-link>
          <router-link to="/contact"> <div class="mobile_title"><p>联系我们</p></div></router-link>
        </div>
      </div>
    </div>
    </transition>
    <div class="head_contain">
      <div class="logo">
        <a href="/" style="height: 61px;">
          <img src="https://content.kquestions.com/FtTuWVZi6ailjfskIFfAOsOXTdKj.png" height="27px" style="vertical-align: middle"/>
        </a>
      </div>
      <div class="nav">
        <router-link to="/" exact><div class="nav_item"><p>重现化学</p></div></router-link>
        <router-link to="/films"><div class="nav_item"><p>系列影片</p></div></router-link>
        <router-link to="/education"><div class="nav_item"><p>化学教学</p></div></router-link>
        <router-link to="/about"> <div class="nav_item"><p>关于我们</p></div></router-link>
        <router-link to="/contact"> <div class="nav_item"><p>联系我们</p></div></router-link>
      </div>
    </div>
  </div>

</template>

<script>
  export default{
    data(){
      return{
        show:false,
      }},
    methods:{
        button_click(){
          document.getElementById('nav_001').className='animated rollOut';
        },
        button_close(){
          document.getElementById('nav_001').classList.remove('animated rollIn');
      },
    }
  }
</script>
<style >
  .head_contain{
    z-index: 2;
    width: 100%;
    height: 62px;
    background-color: rgba(34, 34, 34, 0.7);;
    text-align: center;
    position: fixed;
    top: 0;

  }
  .logo{
    height: 61px;
    position: absolute;
    top:16px;
    left:10px;
  }
  .nav{
    height: 61px;
    font-size:0;
    display: block;
    vertical-align: middle;
  }
  .nav_item {

    width: 80px;
    font-size: 16px;
    font-weight: 00;
    display: inline-block;
    padding: 20px 4px;
    vertical-align: middle;
    /*transition: background-color .3s linear;*/
    /*transition-property: background-color;*/
    /*transition-duration: 0.3s;*/
    /*transition-timing-function: linear;*/
    /*transition-delay: initial;*/
  }
  .nav_item p{
    margin: 0;
    padding: 0;
    color: white;
  }
  .nav_item a{
    text-decoration: none;
  }
  .nav_item:active{
    background-color: black;
  }
  .nav_item:hover{
    background-color: black;
    transition: background-color .5s linear;
    transition-delay: initial;
  }
  .router-link-active .nav_item {
     background-color: black;
   }
  @media screen and (max-width: 759px) {
    .logo{display: none}
  }
  @media screen and (min-width: 728px){
    .mobile_nav{
      display: none;
    }
  }
  @media screen and (max-width: 727px){
    .head_contain{
      display: none;
    }
    .mobile_nav{
      display: block;
    }
  }
  .little_nav{
    z-index: 20;
    position: fixed;
    top: 8px;
    left: 8px;
    width: 50px;
    height: 50px;
  }
  .drop_down{
    width: 100%;
    z-index: 30;
    margin: 0;
    height: 326px;
    position: fixed;
  }
  .router-link-active .mobile_title {
    font-weight: 400;
  }
  .sl1_n{
    background-color: white;
    padding-top: 9px;
  }
  .sl2_n{
    padding: 0 36px ;
  }
  .sl2_n a{
    font-weight: 200;
    text-decoration: none;
    color: #666;
    font-size: 16px;
  }
  .mobile_title{
    padding: 15px 30px;
    border-bottom: 1px solid #eee;
  }
  .mobile_title p{
    margin: 0px;
  }
  .fork_n{
    z-index: 50;
    font-weight: normal;
    color: #666;
    font-size: 30px;
  }

  /*.fade-enter-active, .fade-leave-active {*/
    /*transition: all 0.5s ease*/
  /*}*/
  /*.fade-enter, .fade-leave-active {*/
    /*opacity: 0*/
  /*}*/
</style>
